Package: com.thomz.cenamo
Name: Cenamo
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: thomz
Author: thomz
Section: Tweaks
