<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Noctis might modify the preview cell color, I suggest you to disable it when choosing a color</string>
        </dict>
        <dict>
			<key>cell</key>
			<string>PSDefaultCell</string>
            <key>height</key>
			<real>90</real>
            <key>cellClass</key>
			<string>CENDefaultPreviewCell</string>
        </dict>
		<dict>
			<key>default</key>
			<real>1</real>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>1</real>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.thomz.cenamoprefs</string>
			<key>key</key>
			<string>defaultRedFactor</string>
			<key>leftImage</key>
			<string>red</string>
            <key>PostNotification</key>
			<string>com.thomz.cenamoprefs/updateDefaultCellView</string>
		</dict>
        <dict>
			<key>default</key>
			<real>1</real>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>1</real>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.thomz.cenamoprefs</string>
			<key>key</key>
			<string>defaultGreenFactor</string>
			<key>leftImage</key>
			<string>green</string>
            <key>PostNotification</key>
			<string>com.thomz.cenamoprefs/updateDefaultCellView</string>
		</dict>
        <dict>
			<key>default</key>
			<real>1</real>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>1</real>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.thomz.cenamoprefs</string>
			<key>key</key>
			<string>defaultBlueFactor</string>
			<key>leftImage</key>
			<string>blue</string>
            <key>PostNotification</key>
			<string>com.thomz.cenamoprefs/updateDefaultCellView</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>In Tint mode, if the color is set to white, the color will be disabled</string>
        </dict>
	</array>
	<key>title</key>
	<string>Default</string>
</dict>
</plist>
