<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>CenamoHeaderCell</string>	
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.thomz.cenamoprefs</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>default</key>
			<real>1</real>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>1</real>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.thomz.cenamoprefs</string>
			<key>key</key>
			<string>alphaForBatteryView</string>
            <key>cellClass</key>
			<string>KRLabeledSliderCell</string>
			<key>label</key>
			<string>Alpha for Battery View</string>
			<key>height</key>
			<integer>85</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.thomz.cenamoprefs</string>
			<key>key</key>
			<string>disableColoring</string>
			<key>label</key>
			<string>Disable Coloring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.thomz.cenamoprefs</string>
			<key>key</key>
			<string>rounderCornersEnabled</string>
			<key>label</key>
			<string>Rounded Corners</string>
		</dict>
		<dict>
			<key>default</key>
			<real>30</real>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>30</real>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.thomz.cenamoprefs</string>
			<key>key</key>
			<string>rounderCornersRadius</string>
            <key>cellClass</key>
			<string>KRLabeledSliderCell</string>
			<key>label</key>
			<string>Corner Radius</string>
			<key>height</key>
			<integer>85</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.thomz.cenamoprefs</string>
			<key>key</key>
			<string>XDock</string>
			<key>label</key>
			<string>Use iPhone X Dock</string>
			<key>PostNotification</key>
			<string>com.thomz.cenamoprefs/xdock</string>
		</dict>
	</array>
	<key>title</key>
	<string>Cenamo</string>
</dict>
</plist>
