Package: com.thomz.cenamo
Name: Cenamo
Depends: mobilesubstrate, preferenceloader, me.conorthedev.libappearancecell
Version: 1.1
Architecture: iphoneos-arm
Description: Know your battery by looking at your dock
Maintainer: Thomz
Author: Thomz
Section: Tweaks
Icon: file:///Library/PreferenceBundles/cenamoprefs.bundle/icon@3x.png
